<template name="RoleSetter">
	<u>Set Role</u><br>
    User:
    <textarea rows="1" placeholder="username" style="resize: none" id="username"></textarea>
    <br>
    Set Role:
    <select id="role">
      <option value="player"> Player </option>
      <option value="canowner"> Can Owner </option>
      <option value="superuser"> Superuser </option>
    </select>
    <button onclick="updateUser()"> Submit </button>
	
	<script>
		function updateUser() {
			var user = $( "#username" ).val();
			var role = $( "#role" ).val();
			var params = {
				user: user, role: role
			}
			
			Meteor.call('SetRole', params, function(err,response) {
				alert(response);
			});
		}		
	</script>
</template>
