#dialogoverlay{
	display: none;
	opacity: .8;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	margin: auto;
	display: none;
	position: absolute;
	background: #000;
	border-radius:7px; 
	width:75%;
	z-index: 10;
}

#prompt_value1 {
	background: #000000;
	color: #00FF00;
	font-family:'Press Start 2P';
	border-color: #0F3300;
}

.DialogueButton{
	-moz-appearance:textfield;
	background: #000000;
	color: #00FF00;
	font-family:'Press Start 2P';
	border-color: #0F3300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #000; font-family:'Press Start 2P'; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background: #00FF00; font-family:'Press Start 2P'; padding:20px; color:#000; }
#dialogbox > div > #dialogboxfoot{ background: #000; font-family:'Press Start 2P'; padding:10px; text-align:right; }