/*General*/
body {
    background: black;
    font-family: 'Bungee', cursive;
}
/*/General*/

/*Classes*/
.green-border {
    border: 1px solid rgb(0, 200, 0);
}

.black-border {
    border: 2px solid black;
}

.green-background {
    background-color: rgb(0, 200, 0);
}

.black-background {
    background-color: black;
}

.green-text {
    color: rgb(0, 200, 0);
}

.center-text {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-right {
    float: right;
}

.main {
    text-align:center;
    width: 350px;
    border-style: solid;
    border-width: 5px;
}
/*------------------------------------------------------------*/
.press-to-start {
    font-family: 'Press Start 2P', cursive;
}

.bungee {
    font-family: 'Bungee', cursive;
}
/*------------------------------------------------------------*/
.green-button {
    border: none;
    color: black;
    font-size: 14px;
    background: #00c800;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

.green-button:hover {
    background: #00fa00;
    text-decoration: none;
}

.glowing-button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    border: rgb(0, 200, 0);
    -webkit-box-shadow: 0px 1px 15px #00c800;
    -moz-box-shadow: 0px 1px 15px #00c800;
    box-shadow: 0px 1px 15px #00c800;
    color: #00c800;
    font-size: 16px;
    background: #000000;
    padding: 1px 20px 1px 20px;
    text-decoration: none;
}

.glowing-button:hover {
    background: #00c800;
    text-decoration: none;
    color: black;
}
/*------------------------------------------------------------*/
.select-style {
    border: 1px solid rgb(0, 200, 0);
    width: 120px;
    border-radius: 1px;
    overflow: hidden;
    background-image: black 90% 50%;
    color: rgb(0, 200, 0);
}

.select-style select {
    padding: 5px 8px;
    width: 101%;
    border: none;
    box-shadow: none;
    background: black;
    background-image: none;
    -webkit-appearance: none;
    color: rgb(0, 200, 0);
}

.select-style select:focus {
    outline: none;
}
/*-------------------------Menu-------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 200, 0);
    display: block;
    transition: 0.3s
}

.sidenav-a:hover, .offcanvas-a:focus{
    color: black;
    background-color: rgb(0, 200, 0);
}

.sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*------------------------------------------------------------*/


/*/Classes*/

/*Ids*/
#scrollable-content {
  height: 180px;
  overflow: auto;
}

#footer {
  height: 40px;
}

#map {
    height: 400px;
    width: 100%;
    color: black;
    /*color: rgb(0, 200, 0);*/
}
/*/Ids*/
