<template name="CanCreator">
	<!--Can.insert({ latitude: params.x, longitude: params.y, owner: params.owner, can_name: params.can_name }); -->
  <header>
      <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </header>
  <main>
	{{> TopBar }}

	<div id="can">
		 <h1 class="press-to-start green-text center-text">Add Can</h1>
		 <div class="green-text">Latitude: Longitude:</div>
		 <!-- 80 was the original size for the lat and long boxes -->
		 <textarea rows="1" style="width: 90px; resize: none" id="latitude" class="green-border black-background green-text"></textarea>
		 <textarea rows="1" style="width: 90px; resize: none" id="longitude" class="green-border black-background green-text"></textarea>
		 <br>
		 <p class="green-text">Can Owner:</p>
		 <textarea rows="1" style="width: 189px; resize: none" id="owner" class="green-border black-background green-text"></textarea>
		 <br>
		 <p class="green-text">Can Name:</p>
		 <textarea rows="1" style="width: 189px; resize: none;" id="can_name" class="green-border black-background green-text"></textarea>
		 <br>
		 <button onclick="onAdd()" class="glowing-button"> Add Can </button>
	 </div>

	 <script>
	 function onAdd() {
		params = {
			x: $('#latitude').val(),
			y: $('#longitude').val(),
			owner: $('#owner').val(),
			can_name: $('#can_name').val()
		}

	  Meteor.call('AddCan', params, function(err,response) {
        alert(response);
      });
	 }
	 </script>
  </main>
</template>
