<template name="CanCreator">
	<!--Can.insert({ latitude: params.x, longitude: params.y, owner: params.owner, can_name: params.can_name }); -->
  <header>
	<style>
		.green-boarder {
			border: 1px solid rgb(0, 200, 0);
		}

		.black-background {
			background-color: black;
		}

		.green-text {
			color: rgb(0, 200, 0);
		}
	</style>
  </header>
  <main>
	<!-- {{> TopBar }} -->

	<div id="can">
		 <u>Add Can</u><br>
		 Latitude:<br>
		 <!-- 80 was the original size for the lat and long boxes -->
		 <textarea rows="1" style="width: 164px; resize: none" id="latitude" class="green-boarder black-background green-text"></textarea>
		 <br>
		 Longitude:<br>
		 <textarea rows="1" style="width: 164px; resize: none" id="longitude" class="green-boarder black-background green-text"></textarea>
		 <br>
		 Can Owner:<br>
		 <textarea rows="1" style="width: 164px; resize: none" id="owner" class="green-boarder black-background green-text"></textarea>
		 <br>
		 Can Name:<br>
		 <textarea rows="1" style="width: 164px; resize: none;" id="can_name" class="green-boarder black-background green-text"></textarea>
		 <br>
		 <button onclick="onAdd()"> Add Can </button>
	 </div>

	 <script>
	 function onAdd() {
		params = {
			x: $('#latitude').val(),
			y: $('#longitude').val(),
			owner: $('#owner').val(),
			can_name: $('#can_name').val()
		}

	  Meteor.call('AddCan', params, function(err,response) {
        alert(response);
      });
	 }
	 </script>
  </main>
</template>
