<template name="Leaderboard">
  <header>
	<style>
	#scrollable-content {
	  height: 180px;
	  overflow: auto;
	}

	#footer {
	  height: 40px;
	}

	.green-border {
		border: 1px rgb(0, 200, 0) solid;
	}
	</style>
  </header>
  <main>
  	{{> TopBar }}
  
	<div id="scrollable-content" class="green-border">

	</div>
	{{#if is_player}}
		<div id="footer" class="green-border"></div>
	{{/if}}

	<script>

		var sort_by = function(field, reverse, primer){
		   var key = primer ?
			   function(x) {return primer(x[field])} :
			   function(x) {return x[field]};

		   reverse = !reverse ? 1 : -1;

		   return function (a, b) {
			   return a = key(a), b = key(b), reverse * ((a > b) - (b > a));
			 }
		}

		function updateBoard() {
			var p = 0;
			$( "#scrollable-content" ).html("");
			var users = Meteor.users.find().fetch().sort(sort_by('points', true, parseInt));
			for(var i = 0; i < Meteor.users.find().fetch().length; i++) {
				var user = users[i];
				p += 1;
				$( "#scrollable-content" ).append( "<p> " +  p + ": " + user.username + "	(" + user.points + ")" + "</p>" );
				if(user._id == Meteor.user()._id) {
					$( "#footer" ).html((p) + ": " + Meteor.user().username + " (" + Meteor.user().points + ")");
				}
			}
		}

		setInterval(updateBoard, 1000);
	</script>
  </main>
</template>
