<template name="Login">
	<header>
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
	</header>

	<main>
		<button class="green-button bungee align-right black-border" onclick="Router.go('/signup');"> Sign Up </button>
		<button class="green-button bungee align-right black-border" onclick="Router.go('/');"> Home </button>

	    <div class="loginmain">
	    	<form id="login" class="login">
		  		<div class="form-group">
			  		<br><label for="username" class="green-text text-25px">Username</label><br>
	          		<input type="username" name="loginusername" class="form-control green-border black-background green-text bigger-text-feild"><br><br>
				</div>
	        	<div class="form-group">
	          		<label for="password" class="green-text text-25px">Password</label><br>
	          		<input type="password" name="loginpassword" class="form-control green-border black-background green-text bigger-text-feild"><br><br>
	        	</div>
	        	<div class="form-group">
	          		<input type="submit" class="lgbtn green-button bungee" value="Submit"><br>
	        	</div>
	      	</form>

		  <button class="green-button bungee" onclick="Router.go('reset');"> Need Help Signing In? </button>

		  <div id="loginError"></div>

	    </div>
	</main>
</template>
