<template name="RoleSetter">
  <header>
      <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  </header>
  <main>

  {{> TopBar }}

	<h1 class="press-to-start green-text center-text">Set Role</h1>
    <p class="green-text">Username:</p>
    <textarea rows="1" style="resize: none" id="RoleSetterUsername" class="green-border black-background green-text"></textarea>
    <br>
    <p class="green-text">Role:</p>
	<div class="select-style green-border">
		<select id="RoleSetterRole">
	      <option value="player"> Player </option>
	      <option value="canowner"> Can Owner </option>
	      <option value="superuser"> Superuser </option>
	    </select>
	</div>

    <button onclick="updateUser()" class="glowing-button"> Submit </button>

	<script>
		function updateUser() {
			var user = $( "#RoleSetterUsername" ).val();
			var role = $( "#RoleSetterRole" ).val();
			var params = {
				user: user, role: role
			}

			Meteor.call('SetRole', params, function(err,response) {
				alert(response);
			});
		}
	</script>
  </main>
</template>
