<template name="Signup">
    <header>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    </header>

    <main>

        <button class="green-button bungee align-right black-border" onclick="Router.go('/login');"> Log In </button>
        <button class="green-button bungee align-right black-border" onclick="Router.go('/');"> Home </button>

        <div class="signupmain">
            <form id="signup" class="signup">
    	  	    <div class="form-group">
    		        <label for="username" class="green-text">Username</label><br>
                    <input type="username" name="username" class="form-control green-border black-background green-text">
    		    </div>

                <div class="form-group">
                    <label for="emailAddress" class="green-text">Email Address</label><br>
                    <input type="email" name="emailAddress" class="form-control green-border black-background green-text">
                </div>

                <div class="form-group">
                    <label for="password" class="green-text">Password</label><br>
                    <input type="password" name="password" class="form-control green-border black-background green-text">
                </div>

                <div class="form-group">
                    <input type="submit" class="subtn glowing-button" value="Submit">
                </div>
            </form>
        </div>
    </main>
</template>
