<template name="Signup">
    <header>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    </header>

    <main>

        <button class="green-button bungee align-right black-border" onclick="Router.go('/login');"> Log In </button>
        <button class="green-button bungee align-right black-border" onclick="Router.go('/');"> Home </button>

        <div class="signupmain">
            <form id="signup" class="signup">
    	  	    <div class="form-group">
    		        <br><div class="center-text"><label for="username" class="green-text text-25px">Username</label></div>
                    <input type="username" name="username" class="form-control green-border black-background green-text bigger-text-feild center-object"><br>
    		    </div>

                <div class="form-group">
                    <div class="center-text"><label for="emailAddress" class="green-text text-25px">Email Address</label></div>
                    <input type="email" name="emailAddress" class="form-control green-border black-background green-text bigger-text-feild center-object"><br>
                </div>

                <div class="form-group">
                    <div class="center-text"><label for="password" class="green-text text-25px">Password</label></div>
                    <input type="password" name="password" class="form-control green-border black-background green-text bigger-text-feild center-object"><br>
                </div>

                <div class="form-group">
                    <input type="submit" class="subtn green-button bungee center-object" value="Submit">
                </div>
            </form>
        </div>
    </main>
</template>
