<template name="TopBar">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
	</head>

	<!-- make bar hide or highlight button you're on -->

	{{#if superuser}}
		<div class="green-border">
			<ul class="topmenu">
				<li><a href="/"> Home </a></li>
				<li><a href="/profile"> {{username}} </a></li>
				<li><a href="/setRole"> Set Role </a></li>
				<li><a href="/addCan"> Add Can </a></li>
				<li><a href="/canMap"> Can Map </a></li>
			</ul>
		</div>
	{{/if}}
	{{#if canowner}}
		<div class="green-border">
			<ul class="topmenu">
				<li><a href="/"> Home </a></li>
				<li><a href="/profile"> {{username}} </a></li>
				<li><a href="/viewCans"> View Cans </a></li>
			</ul>
		</div>
	{{/if}}
	{{#if player}}
		<div class="green-border">
			<ul class="topmenu">
				<li><a href="/"> Home </a></li>
				<li><a href="/profile"> {{username}} </a></li>
				<li><a href="/leaderboard"> Leaderboard </a></li>
			</ul>
		</div>
	{{/if}}
</template>
